body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f8f7;
    color: #333;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6fb3b8;
    padding: 15px 30px;
}

/* nav .logo {
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);
} */

.logo {
    font-size: 24px;
    font-weight: 600;
    color: black;
    font-family: "Georgia", serif;
}

.logo::first-letter {
    color: #fadd88;
    font-size: 30px;
}

/* .logo {
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
    font-family: "Georgia", serif;
}

.logo span {
    font-weight: normal;
    color: #e8f1f2;
    border-left: 2px solid #ffffff;
    padding-left: 10px;
    margin-left: 8px;
} */


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

nav ul li a:hover {
    /* text-decoration: underline; */
    color: rgba(0,0,0,0.8);
}

/* Banner */
.banner {
    position: relative;
    height: 400px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.4);
    padding: 20px;
    border-radius: 10px;
}

/* Sections */
.section {
    padding: 50px 20px;
    text-align: center;
}

.light-bg {
    background-color: #e8f1f2;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* Gallery */
.gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.gallery img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

/* Donate Button */
.donate-btn {
    background-color: #6fb3b8;
    border: none;
    padding: 12px 25px;
    color: white;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}

.donate-btn:hover {
    background-color: #4e9aa0;
}

/* Footer */
footer {
    background-color: #6fb3b8;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Scroll To Top Button */
#scrollTopBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: #000000;
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: background-color 0.3s, transform 0.3s;
}

#scrollTopBtn:hover {
    background-color: #4e9aa0;
    transform: scale(1.1);
}
